SECRET_KEY=48a703f4ccd67f68dd531e115d3e87174c600bba47de9fd940e61133b8e671bf
DATABASE_URL=sqlite:///app.db
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-gmail-address@gmail.com
SMTP_APP_PASSWORD=your-google-app-password
FRONTEND_URL=http://127.0.0.1:5000
EMAIL_FROM=your-gmail-address@gmail.com
EMAIL_OUTBOX_ENABLED=false
